body {
    font-family: sans-serif;
    background-color: beige;
}

.box {
    margin: 10px;
    text-align: center;
    padding: 10px;
    width: 260px;
}

.main {
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
    margin: 90px 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-right: 200px;
}

.google {
    padding: 4px 41px;
    background-color: white;
    border: 1px solid rgb(211, 200, 200);
    border-radius: 5px;
    width: 100%;
}

.khat {
    padding: 0px 0px;
    width: 100%;
    border: 1px solid rgb(235, 228, 228);
    margin: 20px 0px;
}

.email {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 0px;
 }

 .e {
    border: 1px solid rgb(211, 200, 200);
    border-radius: 5px;
    color: rgb(126, 124, 124);
    margin-top: 7px;
    width: 100%;
 }

 .password{
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 0px;
 }

 .p {
    border: 1px solid rgb(211, 200, 200);
    border-radius: 5px;
    margin-top: 7px;
    width: 100%;
 }

 .checkbox {
    text-align: left;
    color: rgb(126, 124, 124);
    font-size: 13px;
    margin: 11px 0px;
 }

.login {
    color: white;
    background-color: rgba(0, 0, 255, 0.705);
    padding: 4px 80px;
    border: 1px solid rgb(211, 200, 200);
    border-radius: 5px;
    /*margin: 11px;*/
    width: 100%;
}

.khat__2 {
    padding: 0px 0px;
    width: 100%;
    border: 1px solid rgb(235, 228, 228);
    margin: 20px 0px;
}

.forgot {
    text-align: center;
    font-size: 13px;
    margin: 11px;
}

#f {
    text-decoration: none;
}

.footer {
    text-align: center;
}

.ff {
    color: rgb(126, 124, 124);
    font-size: 13px;
    margin: 11px 0px; 
}

.ss {
    font-size: 13px;
}