body {
    font-family: sans-serif;
    background-color: rgb(64, 128, 64);
}

.plan {
    background: aquamarine;
    text-align: center;
    padding: 21px;
    margin: 8px;
    display: inline-block;
    width: 20%;
    vertical-align:  middle;
}

.plan__recommended {
    background-color: rgb(29, 102, 238);
    color: white;
    border: 5px solid orange;
}

.plan__recommended:hover {
    background-color: white;
    color: rgb(29, 102, 238);
} 

/*.box :hover {
    background-color: white;
    color: rgb(29, 102, 238);
} */