body {
    font-family: sans-serif;
    
}

.section__background {
    padding: 45px;
    width: 75%;
    border: 3px solid rgb(0, 59, 0);
    margin: 15px;
    border-left: none;
    margin-left: 0px;
    padding-left: 25px;
}

#plus {
    background-color: rgb(208, 255, 239);
}

#free {
    background-color: aliceblue;
}

#premium {
    background-color: rgb(38, 95, 38);
}

.p__style {
    background-color: white;
    padding: 20px;
    border: 1px solid rgb(0, 59, 0);
    color: rgb(14, 79, 31);
    font-size: 20px;
}

.h2__style {
    color: rgb(151, 151, 151);
}

#h1__color {
    color: white;
}

.section__background:hover {
    border: 3px solid red;
    border-left: none;
    

}